img {
  height: 325px;
  z-index: 10;
  -webkit-transition: height 500ms;
  -moz-transition: height 500ms;
  -ms-transition: height 500ms;
  -o-transition: height 500ms;
  transition: height 500ms;
  &.large {
    height: 900px;
  }
}