@import "../../colors";

:host {
  background: $orange url('../../assets/images/oval.svg') no-repeat;
  background-position: 50% 150px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  >button {
    position: absolute;
    bottom: 10em;
    &:first-child {
      left: 1em;
    }
    &:last-child {
      right: -1em;
    }
  }
}
.question {
  position: absolute;
  top: 0;
  background-color: transparentize($darkgray, .2);
  color: #fff;
  left: 0;
  width: 100vw;
  font-size: 2rem;
  margin:0;
  z-index: 10;
}
.answer-section {
  background-color: lightgoldenrodyellow;
  border: 1px solid blue;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.image-section {
  height: 400px;
  img {
    height:100%;
    width: auto;
    display: block;
    margin: auto;
  }

}
