@import "../../assets/colors";

$top-offset: 2rem;
:host {
  background: #000;
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  justify-content: center;
  position: relative;
  padding-top: $top-offset*2;
  app-navbutton {
    position: absolute;
    bottom: 10em;
    z-index: 12;
    &:first-of-type {
      left: 1em;
    }
    &:last-of-type{
      right: 0;
    }
  }
}

.answer-section {
  background: $darkgray url('../../assets/images/ff-back.jpg') no-repeat;
  background-size: contain;
  width: 700px;
  height: 525px;
  position: relative;
}
.inner-answers-section {
  width: 500px;
  margin: auto;
  position: relative;
  top: 105px;
}
.image-section {
  width:30%;
  z-index: 11;
  img {
    height:100%;
    width: auto;
    display: block;
    margin: auto;
  }
}

.team-section {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;

}

app-team:first-of-type {
  position: absolute;
  left: 35px;
  bottom: 75px;
}
app-team:last-of-type {
  position: absolute;
  left: 525px;
  bottom: 75px;
}

.question {
  position: absolute;
  top: 10px;
  background-color: transparentize($darkgray, .2);
  color: $yellow;
  left: 0;
  width: 100vw;
  font-family: eggcrateregular, Optimist, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.2rem;
  margin:0;
  z-index: 10;
}