<app-navbutton [text]="'Back'" [param]="-1"></app-navbutton>
<section class="image-section">
    <app-dd-image [imgsrc]="rounds[activeRound].imageUrl"></app-dd-image>
    <!--<img (click)="enbiggenImage($event)" src="{{rounds[activeRound].imageUrl}}">-->
    <p class="question">{{rounds[activeRound].question}}</p>
</section>


<section class="answer-section">
    <app-answertile *ngFor="let answer of rounds[activeRound].answers; let i = index"
                    [answer]="answer"
                    [num]="i"></app-answertile>

</section>
<app-navbutton [text]="'Next'" [param]="1"></app-navbutton>
