@import "../../colors";

:host {
  background: $darkgray url('../../assets/images/ff-back.jpg') no-repeat;
  background-position: 50% 150px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  app-navbutton {
    position: absolute;
    bottom: 10em;
    &:first-of-type {
      left: 1em;
    }
    &:last-of-type{
      right: 0;
    }
  }
}
.question {
  position: absolute;
  top: 0;
  background-color: transparentize($darkgray, .2);
  color: #fff;
  left: 0;
  width: 100vw;
  font-size: 2rem;
  margin:0;
  z-index: 10;
}
.answer-section {
  background-color: lightgoldenrodyellow;
  border: 1px solid $darkgray;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.image-section {
  height: 400px;
  z-index: 11;
  img {
    height:100%;
    width: auto;
    display: block;
    margin: auto;
  }

}
