<button (click)="advance(activeRound, -1)">back</button>
<button (click)="advance(activeRound, 1)">next</button>

<!--// id: number;-->
<!--// question: string;-->
<!--// imageUrl: string;-->
<!--// answers: Answer[]-->
<section class="image-section">
    <img src="{{rounds[activeRound].imageUrl}}">
    <p class="question">{{rounds[activeRound].question}}</p>
</section>
<!-- /.image-section -->


<section class="answer-section">
    <app-answertile *ngFor="let answer of rounds[activeRound].answers; let i = index"
                    [answer]="answer"
                    [num]="i"></app-answertile>

</section>
