<!--The content below is only a placeholder and can be replaced.-->
  <!--<app-scoreboard></app-scoreboard>-->

  <section>
    <div class="team-namer" *ngIf="!gameStarted">
      <label for="namer1">Team 1 Name</label>
      <input id="namer1" [(ngModel)]="t1name" type="text">
    </div>
    <app-team [teamName]="t1name"></app-team>
  </section>
  <section *ngIf="!gameStarted">
    <h1>
      {{title}}
    </h1>
    <p><a [routerLink]="['/round/0']" (click)="gameStarted = true">Start Game</a></p>
  </section>

  <section>
    <router-outlet></router-outlet>
  </section>

  <section>
    <div *ngIf="!gameStarted" class="team-namer">
      <label for="namer2">Team 2 Name</label>
      <input id="namer2" [(ngModel)]="t2name" type="text">
    </div>
    <div>
      <app-team [teamName]="t2name"></app-team>
    </div>
  </section>
  <!--<app-gameboard></app-gameboard>-->
