@import "../assets/colors";
@import "../assets/eggcratefont/stylesheet";

.title-screen {
  width: 800px;
  height: 600px;
  margin: 10px auto;
  //background: #000 url('../assets/images/ff-back-on.jpg') no-repeat;
  //background-size: contain;
  h1 {
    font-size: 8rem;
    font-family: eggcrateregular, Optimist, sans-serif;
    text-transform: uppercase;
    color: $yellow;
    line-height: .89;
  }
  %link-button-base {
    font-size: 4rem;
    background-color: $blue;
    text-decoration: none;
    color: $yellow;
    font-family: eggcrateregular, Optimist, sans-serif;
    text-transform: uppercase;
    padding: 1rem;
    box-shadow: 1rem 1rem 0 0 $red;
  }
  .link-button{
    @extend %link-button-base;
    &:visited {
      @extend %link-button-base;
    }
  }

}