:host {
  display: flex;
  flex-basis: 50px;
  flex-flow: row nowrap;
  justify-content: space-between;
  transition: transform 900ms;
  background-color: red;
  padding: 10px;
  > div {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    &:first-child, &:last-child {
      flex-grow: 3;
      background-color: yellow;
    }
  }

  &.revealed {
    >div:nth-child(2n){
      display: none;
    }
  }
}