<div>
  <h2>{{teamName}}</h2>
  <!--<div class="score">-->
    <!--<label for="{{teamName}}Score">Score:</label>-->
    <!--<input id="{{teamName}}Score" [ngModel]="score" type="number" readonly><br>-->
  <!--</div>-->
  <!--<div>-->
    <!--<label for="{{teamName}}Addpoints">Add:</label>-->
    <!--<input id="{{teamName}}Addpoints" [(ngModel)]="addedPoints" (change)="computeScore(addedPoints)" type="number">-->
  <!--</div>-->
  <!--<button (click)="computeScore()">Add Points</button>-->
</div>