@import "../../assets/colors";
:host {
  color: $yellow;
  font-family: eggcrateregular, Optimist, sans-serif;
  text-transform: uppercase;
  text-align: center;
  >div {
    width: 125px;
  }
  &.active {
    color: red;
  }
}
.score {
  label {
    line-height: 3rem;
  }
  input {
    height: 3rem;
    font-size: 2rem;
    border: none;
  }
}
label {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 50px;
}
input {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 45px;
}