:host {
  >div {
    width: 125px;

  }
}
.score {
  label {
    line-height: 3rem;
  }
  input {
    height: 3rem;
    font-size: 2rem;
    border: none;
  }
}
label {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 50px;
}
input {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 45px;
}